<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>顔写真から猿人類との類似度を判定するアプリケーション</title>
  </head>
  <body>

    <h1>顔写真から猿人類との類似度を判定するアプリケーション</h1>
    <hr class="h1_bottom">
    {% block content %}{% endblock %}

  </body>
</html>
<style>

h1{
  font-size:50px;
  margin-bottom:0;
}
.h1_bottom{
  height:30px;
  color:red;
  background:red;
}
body{
  margin:20px 510px;
}
</style>
