{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script><!--CDNでの読みこみ-->

    <div class="img_top">
      <img src=".{{path}}" alt="画像" style="vertical-align: bottom; width: 200px;">
    </div>

    <div class="box26">
      <span class="box-title">詳細グラフ</span>
      <p>
        <a class="rank">
          ♛1♛ {{label_1}}
          {{img_1}}%<br><br>
          --2-- {{label_2}}
          {{img_2}}%<br><br>
          --3-- {{label_3}}
          {{img_3}}%<br><br>
        </a>
        <a　class="data">
          <canvas id="myChart" width="300" height="300"></canvas> <!--グラフ-->
        </a>

      </p>
    </div>

    <a href="/dfg4s4dfg4sdf54g545df4sgsdfg6sd5fgs">最初に戻る</a>

    <!--ここからグラフの設定-->
<script>
var ctx = document.getElementById("myChart").getContext('2d');//グラフの形

var myChart = new Chart(ctx, {
  type: 'doughnut',//グラフの形
  data: {
      labels: ['{{label_1}}', '{{label_2}}', '{{label_3}}'],/*ラベル*/
      datasets: [{
        data: ['{{img_1}}','{{img_2}}','{{img_3}}'], /*ここにそれぞれの％を入れる*/
        backgroundColor: [
          'rgba(255, 255, 0)',/*1番のカラー*/
          'rgba(0, 255, 255)',/*2番のカラー*/
          'rgba(255, 0, 255)',/*3番のカラー*/
        ],
      }]
  },
  options: {
    legend: {
      onClick: function () { return false } //凡例クリックによるグラフの非表示を無効化
    },
    responsive: false, //横幅の大きさを固定(レスポンシブを無効可)
    maintainAspectRatio: false //縦幅の大きさを固定(レスポンシブを無効可)
},
});

if('{{img_2}}'<=10){
  var a='';
}else{
  var a='{{img_2}}';
}
if('{{img_3}}'<=10){
  var b='';
}else{
  var b='{{img_3}}';
}

var data1 = ['{{img_1}}',a,b];

// 〇 ラベルの％表示ここから
Chart.plugins.register({
  afterDatasetsDraw: function (chart, easing) {
      var ctx = chart.ctx;

      chart.data.datasets.forEach(function (dataset, i) {
          var meta = chart.getDatasetMeta(i);
          if (!meta.hidden) {
              meta.data.forEach(function (element, index) {
                  ctx.fillStyle = 'rgb(0, 0, 0)'; //％のカラー

                  var fontSize = 20; //文字の大きさ
                  var fontStyle = 'normal'; //文字のスタイル
                  var fontFamily = 'Comic Sans MS'; //文字のフォント
                  ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                  var dataString = data1[index].toString();

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'middle';

                  var padding = 5;
                  var position = element.tooltipPosition();
                  ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
              });
          }
      });
  }
});
// 〇 ここまで

</script>
    <!--ここまで-->

    <style>
    .img_top{

      text-align:center;
    }

    .box26 {
      width: 700px;
      position: relative;
      margin: 2em 0;
      padding: 0.5em 1em;
      border: solid 3px #008000;
      border-radius: 8px;
      margin:10 auto;
    }
    .box26 .box-title {
      position: absolute;
      display: inline-block;
      width: 200px;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      line-height: 1;
      font-size: 19px;
      background: #FFF;
      color: #008000;
      font-weight: bold;

    }
    .box26 p {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .rank{
      display: flex;
      align-items: center;
    }

    </style>

{% endblock %}
